<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <b><p style="font-size:22px">Ganesan Narayanan &gt;&gt; Classes</p></b>
    <br><p style="font-size:16px">Classes I took in the Spring of 2020:<p></br>
    <ol>
        <li><p style="font-size:14px">HUMA 1002 - Literature Humanities</p></li>
        <li><p style="font-size:14px">PHYS 1602 - Physics II</p></li>
        <li><p style="font-size:14px">ENGI 1102 - The Art of Engineering</p></li>
        <li><p style="font-size:14px">COMS 1004 - Intro to Comp Sci</p></li>
        <li><p style="font-size:14px">ENGI 1006 - Intro to Comp for Eng/App</p></li>
    </ol>
    <br><p style="font-size:15px">My favorite class aside from ENGI 1006 has been COMS 1004. Similar to 1006, 1004 is an
    introductory computing class, but in the Java language. Professor Cannon did a terrific job of clearly explaining CS 
    theory concepts, notably through the use of intriguing riddles, and explaining the syntax and programming aspects of 
    the language as well. The projects were engaging and interesting, and overall, it was one of the most enjoyable 
    classes that I've taken so far.</p></br> 
    </body>
</html>

