<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <b><p style="font-size:22px">Ganesan Narayanan</p></b>
    <img src="\static\images\image.jpeg" alt="Senior Photo" width="200" height ="225">
    <br></br>
    <p style="font-size:16px">First year<p>
    <p>Computer Engineering<p>
    <br><p style="font-size:12px">Link to 
    <a href="http://127.0.0.1:5000/classes/">Current Classes</a></p></br>
    <p style="font-size:12px">List of
    <a href="http://127.0.0.1:5000/states/">States I've Visited</a><p>
    <br><p style="font-size:14px">My favorite news source:
    <a href="https://www.chicagotribune.com/">Chicago Tribune</a></p></br>
    </body>
</html>

