<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>States</title>
    <head>
    <body>
    <b><p style="font-size:22px">Ganesan Narayanan &gt;&gt; States I've Visited</p></b>
    <br><p style="font-size:16px">USA</br>
    <ul>
        <li>Illinois (homestate)</li>
        <p><img src="\static\images\illinois.png" alt="Illinois Flag" width="150" height ="75"></p>
        <li>Washington</li>
        <p><img src="\static\images\washington.png" alt="Washington Flag" width="150" height ="75"></p>
        <li>Oregon</li>
        <p><img src="\static\images\oregon.png" alt="Oregon Flag" width="150" height ="75"></p>
        <li>California</li>
        <p><img src="\static\images\california.png" alt="California Flag" width="150" height ="75"></p>
        <li>Florida</li>
        <p><img src="\static\images\florida.png" alt="Florida Flag" width="150" height ="75"></p>
        <li>Nebraska</li>
        <p><img src="\static\images\nebraska.png" alt="Nebraska Flag" width="150" height ="75"></p>
        <li>Indiana</li>
        <p><img src="\static\images\indiana.png" alt="Indiana Flag" width="150" height ="75"></p>
        <li>Michigan</li>
        <p><img src="\static\images\michigan.png" alt="Michigan Flag" width="150" height ="75"></p>
        <li>Missouri</li>
        <p><img src="\static\images\missouri.png" alt="Missouri Flag" width="150" height ="75"></p>
        <li>New York</li>
        <p><img src="\static\images\newyork.png" alt="New York Flag" width="150" height ="75"></p>
        <li>Rhode Island</li>
        <p><img src="\static\images\rhodeisland.png" alt="Rhode Island Flag" width="150" height ="75"></p>
        <li>Massachusetts</li>
        <p><img src="\static\images\massachusetts.png" alt="Massachusetts Flag" width="150" height ="75"></p>
    </ul></p>
    </body>
</html>

